<?xml version="1.0"?>
<launch>

  <!-- start gazebos, cameras as in z demo room -->

  <arg name="start_gazebo" default="true" />
  <arg name="gz_gui" default="true" />
  <arg name="start_hog_marker" default="true" />
  
  <!-- start gazebo -->
  <group if="$(arg start_gazebo)">
    <include file="$(find smocap_gazebo)/launch/gazebo.launch">
      <arg name="gui" default="$(arg gz_gui)" />
    </include>
  </group>

  <!-- start cameras -->
  <rosparam command="load" file="$(find smocap)/params/enac_demo_z/camera_system_full.yaml" />
  <include file="$(find smocap_gazebo)/launch/single_cam.launch"> <!-- ns="camera_1"> -->
    <arg name="camera_id" value="1"/>
    <arg name="pos_x" value="2.07"/>
    <arg name="pos_y" value="2.08" />
    <arg name="pos_z" value="3.44" />
    <arg name="rot_P" value="1.5707963267948966" />
    <arg name="rot_Y" value="1.5707963267948966" />
    <arg name="camera_w" value="1600"/>
    <arg name="camera_h" value="1200"/>
  </include>



  
  <!-- Launch a Hand Of God marker in Gazebo -->
  <group if="$(arg start_hog_marker)">
    <!-- Marker Configuration -->
    <arg name="marker_urdf" default="hog_ir_marker.urdf.xacro"/>
    <arg name="marker_texture" default="unused"/>
    <!-- Marker m0 -->
    <include file="$(find smocap_gazebo)/launch/hog_marker.launch">
      <arg name="marker_name" default="m0"/>
      <arg name="marker_root_link" default="root_link_m0"/>
      <arg name="marker_urdf" default="$(arg marker_urdf)"/>
      <arg name="marker_mesh" default="ir_marker.dae"/>
    </include>
    <!-- remote control for m0 -->
    <node name="smocap_marker_remote_control" pkg="smocap_gazebo" type="hog_remote.py">
      <param name="initial_location" value="0, 0.5, 0.09"/>
      <param name="~controlled_link" value="root_link_m0"/>
    </node>
  </group>
  
  
</launch>
