<?xml version="1.0"?>
<!--
 Loads the ceiling-fixed camera in gazebo
 and starts the motion capture node
-->
<launch>

  <!-- loads URDF description -->
  <param name="smocap_cameras_description" command="$(find xacro)/xacro --inorder $(find smocap)/urdf/camera_dual.urdf"/>

  <!-- spawn camera in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	args="-urdf -model smocap -param smocap_cameras_description" />

  <!-- publish camera and markers TF -->
  <node name="smocap_camera_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <remap from="robot_description" to="smocap_cameras_description" />
  </node>

  <!-- to be removed -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_map_publisher" args="0 0 0 0 0 0 /world /map 100"/>

 
  <!-- spawn marker localization node -->
  <node name="smocap_node" pkg="smocap" type="smocap_node.py">
    <param name="publish_image"  type="bool" value="true"  />
    <param name="publish_est"    type="bool" value="true"  />
    <param name="cameras"         type="string" value="camera_1,camera_2"/>
    <param name="detect_rgb"     type="bool"   value="true"  />
    <param name="detect_min_area" type="int"   value="2"    />
  </node>
  
</launch>
