<?xml version="1.0"?>
<launch>

  <include file="$(find smocap_gazebo)/launch/gazebo.launch"/>
    
  <!-- Marker Configuration -->
  <arg name="marker_name" default="default_marker"/>
  <arg name="marker_root_link" default="default_marker_root_link"/>
  <arg name="marker_urdf" default="hog_ir_marker.urdf.xacro"/> <!-- hog_chessboard.urdf.xacro -->
  <arg name="marker_mesh" default="ir_marker.dae"/>
  <arg name="marker_texture" default="ChessBoard8x6"/>
  
  <!-- Launch a Hand Of God marker in Gazebo -->
  <include file="$(find smocap_gazebo)/launch/hog_marker.launch">
    <arg name="marker_name" default="$(arg marker_name)"/>
    <arg name="marker_root_link" default="$(arg marker_root_link)"/>
    <arg name="marker_urdf" default="$(arg marker_urdf)"/>
    <arg name="marker_mesh" default="$(arg marker_mesh)"/>
    <arg name="marker_texture" default="$(arg marker_texture)"/>
  </include>
      
  <!-- Launch marker remote control -->
  <node name="smocap_marker_remote_control" pkg="smocap_gazebo" type="hog_remote.py">
    <param name="initial_location" value="0, 0.2, 0.09"/>
    <param name="~controlled_link" value="default_marker_root_link"/>
  </node>
  
</launch>
