<?xml version="1.0"?>
<!--
 Loads a fixed camera in gazebo
-->
<launch>
  <arg name="camera_id" default="1"/>
  
  <arg name="pos_x" default="0"/>
  <arg name="pos_y" default="0"/>
  <arg name="pos_z" default="0"/>

  <arg name="rot_R" default="0"/>
  <arg name="rot_P" default="0"/>
  <arg name="rot_Y" default="0"/>

  <arg name="fps" default="10"/>

  <arg name="camera_w" default="640"/>
  <arg name="camera_h" default="480"/>
  <arg name="camera_hfov" default="1.4"/>
  
  <!-- loads URDF description -->
  <param name="camera_$(arg camera_id)/description" command="$(find xacro)/xacro --inorder $(find smocap)/urdf/camera_single.urdf camera_id:=$(arg camera_id) camera_x:=$(arg pos_x) camera_y:=$(arg pos_y) camera_z:=$(arg pos_z) camera_R:=$(arg rot_R) camera_P:=$(arg rot_P) camera_Y:=$(arg rot_Y) camera_w:=$(arg camera_w) camera_h:=$(arg camera_h) camera_hfov:=$(arg camera_hfov) camera_fps:=$(arg fps)"/>

  <!-- spawn camera in gazebo -->
  <node name="urdf_spawner_camera_$(arg camera_id)" pkg="gazebo_ros" type="spawn_model"
	args="-urdf -model camera_$(arg camera_id) -param camera_$(arg camera_id)/description" />

  <!-- publish camera TF -->
  <node name="smocap_camera_$(arg camera_id)_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <remap from="robot_description" to="camera_$(arg camera_id)/description" />
  </node>

</launch>
