<?xml version="1.0"?>
<robot name="smocap_cameras" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931" />
  
  <link name="world" />
  
  <!-- Camera macro -->
  <xacro:include filename="$(find smocap)/urdf/camera.urdf.xacro" />

  <xacro:smocap_camera name="_1" _x="1.34" _y="1.77" _z="2.82" _rx="0." _ry="${PI/2}" _rz="0."
		                 _k1="0." _k2="0." _k3="0." _t1="0." _t2="0."/>


  <xacro:smocap_camera name="_2" _x="-1.34" _y="1.77" _z="2.82" _rx="0." _ry="${PI/2}" _rz="0."
		       		 _k1="0." _k2="0." _k3="0." _t1="0." _t2="0."/>
    

</robot>
