<?xml version="1.0"?>
<robot name="smocap_cameras" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931" />
  
  <link name="world" />
  
  <!-- Camera macro -->
  <xacro:include filename="$(find smocap)/urdf/camera.urdf.xacro" />

  <xacro:smocap_camera name="_1" _x="1." _y="1." _z="2.9" _rx="0." _ry="${PI/2}" _rz="0."
		                 _k1="-0.205527" _k2="0.100740" _k3="0.000066" _t1="0.000421" _t2="0.000000"/>
  


  <xacro:smocap_camera name="_2" _x="3." _y="1." _z="2.9" _rx="0." _ry="${PI/2+PI/4}" _rz="0."
		       _k1="-0.205527" _k2="0.100740" _k3="0.000066" _t1="0.000421" _t2="0.000000"/>
  

</robot>
