<?xml version="1.0"?>
<robot name="smocap_chessboard" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="root_link" default="irm_link"/>
  <xacro:arg name="mesh" default="unused"/>
  <xacro:arg name="texture" default="ChessBoard01"/>

  <!-- Marker macros -->
  <xacro:include filename="$(find smocap)/urdf/chessboard.urdf.xacro" />

  <xacro:chessboard root_link="$(arg root_link)" texture="$(arg texture)" static="true" />

</robot>
