<?xml version="1.0"?>
<robot name="smocap_cameras" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931" />

  <xacro:arg name="camera_id" default="1"/>
  <xacro:arg name="camera_x"  default="1."/>
  <xacro:arg name="camera_y"  default="1."/>
  <xacro:arg name="camera_z"  default="2."/>
  <xacro:arg name="camera_R"  default="0."/>
  <xacro:arg name="camera_P"  default="0."/> <!--${PI/2}"/>-->
  <xacro:arg name="camera_Y"  default="0."/>
  <xacro:arg name="camera_w"  default="640"/>
  <xacro:arg name="camera_h"  default="480"/>
  <xacro:arg name="camera_hfov"  default="1.2"/>
  <xacro:arg name="camera_fps"  default="10."/>

  <!-- Import camera macros -->
  <xacro:include filename="$(find smocap)/urdf/camera.urdf.xacro" />
  <!-- Instanciate camera -->
  <link name="world" />
  <xacro:smocap_camera _cid="$(arg camera_id)" _root_link="world"
		       _x="$(arg camera_x)" _y="$(arg camera_y)" _z="$(arg camera_z)"
		       _rx="$(arg camera_R)" _ry="$(arg camera_P)" _rz="$(arg camera_Y)"
		       _w="$(arg camera_w)" _h="$(arg camera_h)" _hfov="$(arg camera_hfov)"
                       _k1="0." _k2="0." _k3="0." _t1="0." _t2="0."
		       _fps="$(arg camera_fps)" _static="true"/>

</robot>
