<?xml version="1.0"?>
<robot name="smocap_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">

 <xacro:macro name="smocap_camera" params="_cid _root_link _x _y _z _rx _ry _rz _w _h _hfov _k1 _k2 _t1 _t2 _k3 _fps _static">

   <xacro:property name="camera_r" value="0.01" />

   <xacro:if value="${_static}">
     <gazebo>
       <static>true</static>
     </gazebo>
   </xacro:if>


   <!-- camera body -->
   <link name="camera_${_cid}_link">

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="${camera_r} ${camera_r} ${camera_r}"/></geometry>
      <material name="red"/>
      <cast_shadows>false</cast_shadows>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="${camera_r} ${camera_r} ${camera_r}"/></geometry>
    </collision>
    
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>

  </link>

   <!-- camera optical frame -->
   <link name="camera_${_cid}_optical_frame">

     <visual>
      <origin rpy="0 0 ${PI/2}" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.02"/>
      </geometry>
      <material name="Blue"/>
    </visual>

    <inertial>
      <mass value="0.01"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

   </link>

  
  <joint name="camera_${_cid}_joint"  type="fixed">
    <origin xyz="${_x} ${_y} ${_z}" rpy="${_rx} ${_ry} ${_rz}" />
    <parent link="${_root_link}"/>
    <child link="camera_${_cid}_link"/>
  </joint>

  <joint name="camera_${_cid}_optical_frame_joint" type="fixed">
    <origin rpy="${-PI/2} 0.0 ${-PI/2}" xyz="0.0 0.0 0.0"/>
    <parent link="camera_${_cid}_link"/>
    <child link="camera_${_cid}_optical_frame"/>
  </joint>


  <gazebo reference="camera_${_cid}_link">
    <sensor type="camera" name="camera_${_cid}">
      <update_rate>${_fps}</update_rate>
      <camera name="${_cid}">
        <!-- <horizontal_fov>1.15</horizontal_fov> -->
        <horizontal_fov>${_hfov}</horizontal_fov>
        <image>
          <width>${_w}</width>
          <height>${_h}</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>15</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>camera_${_cid}</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_${_cid}_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>${_k1}</distortionK1>
        <distortionK2>${_k2}</distortionK2>
        <distortionK3>${_k3}</distortionK3>

        <distortionT1>${_t1}</distortionT1>
        <distortionT2>${_t2}</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

  
 </xacro:macro>

</robot>
