<?xml version="1.0"?>
<robot name="smocap_marker" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="root_link" default="irm_link"/>
  <xacro:arg name="mesh" default="ir_marker.dae"/>
  <xacro:arg name="texture" default="unused"/>
  
  <!-- Marker macros -->
  <xacro:include filename="$(find smocap)/urdf/ir_marker.urdf.xacro" />

  <xacro:ir_marker root_link="$(arg root_link)" mesh="$(arg mesh)"/>
  
  <gazebo>
    <plugin name="hand_of_god" filename="libgazebo_ros_hand_of_god.so">
      <linkName>$(arg root_link)</linkName>
      <kl>0.4</kl>
      <ka>0.003</ka>
      <frameId>$(arg root_link)</frameId>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
      <frameName>world</frameName>
      <bodyName>$(arg root_link)</bodyName>
      <topicName>smocap/$(arg root_link)_truth</topicName>
      <updateRate>30.0</updateRate>
    </plugin>
  </gazebo>

  <!-- this is cool, but not what i want. I can control velocity -->
  <!--
  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>irm_link</robotBaseFrame>
    </plugin>
  </gazebo>
  -->
  

</robot>
